nav {
    display: flex;
    padding: 0 20vw;
    background: var(--clr-grey-10);
    box-shadow: var(--lightShadow);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    height: 3em;
}

.nav-center {
    width: 90vw;
}

.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
}

/* .nav-header a {
    display: flex;
    position: relative;
} */

.nav-toggle {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

a svg {
    fill: var(--clr-grey-3);
    align-items: center;
    justify-content: center;
}

a svg:hover {
    fill: var(--clr-balck);
}


/* .logo-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

} */
.logo-link svg {
    height: 1.5em;
    width: 1.5em;
    color: var(--clr-grey-3);
    transition: .3s ease-in-out;
}

.logo-link svg:hover {
    /* height: 2em; */
    /* width: 2em; */
    color: var(--clr-black);
}

/* .logo {
    display: inline-flex;
    height: 3em;
    width: 3em;
    transform: translateY(10%);
} */

.user-avatar {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    color: var(--clr-grey-10);
    align-items: center;
    justify-content: center;
}

.user-avatar svg {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    color: var(--clr-grey-3);
    transform: translateY(10%);
}

.user-avatar svg:hover {
    fill: var(--clr-balck);
}

.nav-container .cart-icon {
    display: inline-flex;
    height: 1.25em;
}

.nav-container .amount-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: -0.75em;
    right: 0.6em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: var(--clr-grey-8);
}

.nav-container .total-amount {
    color: var(--clr-grey-2);
    margin-bottom: 0;
    font-size: 1rem;
}


.links-container {
    display: flex;
    height: auto;
    background-color: var(--clr-grey-10);
    transition: .3s;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.links a {
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--clr-grey-3);
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    padding: 0em 1em;
    /* border-bottom: 6px solid transparent; */
    /* border-radius: 0px; */
}

/* .links a::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: .5px;
    left: 50%;
    background-color: var(--clr-grey-8);
    transition: 0.3s ease-in-out;
}

.links a:hover::before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
} */

.links a:hover {
    color: var(--clr-balck);
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-grey-3);
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--clr-black);
}

.show-container {
    height: auto;
}


.nav-links {
    display: none;
}

.signin-btn {
    display: none;
}

/* nav media query */
@media screen and (max-width: 800px) {
    .nav {
        padding: 0 1em;
    }

    .nav-center {
        width: 100%;
    }

    .nav-toggle {
        display: flex;
        font-size: 1.5rem;
        color: var(--clr-primary-5);
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        align-items: center;
    }

    .nav-container {
        gap: 0;
    }

    /*=============== nav hamburguer =============== */
    #navMenu>span {
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 9999px;
        background-color: var(--clr-grey-3);
    }

    #navMenu>span:not(:last-child) {
        margin-bottom: 7px;
    }

    #navMenu,
    #navMenu>span {
        transition: all .3s ease-in-out;
    }

    #navMenu.active {
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }

    #navMenu.active>span:nth-child(2) {
        width: 0;
    }

    #navMenu.active>span:nth-child(1),
    #navMenu.active>span:nth-child(3) {
        transition-delay: 0.3s;
    }

    #navMenu.active>span:nth-child(1) {
        transform: translateY(9px);
    }

    #navMenu.active>span:nth-child(3) {
        transform: translateY(-9px) rotate(90deg);
    }

    /* ============== */

    .links-container {
        display: inline-flex;
        /* flex-direction: column; */
        height: 0;
        width: 100%;
        overflow: hidden;
        transform: translateY(3em);
        /* z-index: 9999; */
        align-items: flex-start;
        justify-content: center;
    }

    .links {
        /* display: inline-block; */
        flex-direction: column;
        /* flex-flow: column; */

    }

    .links a {
        /* display: inline-block; */
        padding: 0;
        margin: 0 0.5rem;
        /* justify-content: end; */
    }

    .links a::before {
        bottom: -5px;
    }

    .social-icons {
        display: none;
    }


}