/* ============================= */
/* Contact */
/* ============================= */

.contact-form {
    /* background-color: var(--clr-white); */
    border-radius: var(--radius-out);
    border: var(--border-white);
    /* box-shadow: var(--boxshadow); */
    box-shadow: var(--lightShadow);
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s background-color;
}

.contact-form h3 {
    color: var(--clr-grey-5);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
    transition: 0.3s color;
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--clr-grey-10);
    /* border: 2px solid var(--clr-primary-5); */
    border: none;
    box-shadow: var(--lightInsetShadow);
    width: 100%;
    border-radius: var(--radius-mid);
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--clr-grey-5);
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder {
    color: var(--clr-grey-2);
}

.form-input:hover {
    filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
    filter: brightness(100%);
    background: var(--clr-grey-9);
    /* border-color: var(--clr-primary-1); */
}

textarea.form-input {
    resize: none;
    min-height: 170px;
}

.contact-form .form-input {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 900px) {
    .contact-form {
        /* background-color: var(--clr-grey-9); */
        border: 1px solid var(--clr-grey-8);
        border-radius: var(--radius-out);
        padding: 1rem 0.9rem;
        display: flex;
        flex-direction: column;
        transition: 0.3s background-color;
    }
}