.shop .container {
    transition: 0.4s;
}

.shop-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 4em;
}

.filter-btn {
    display: inline-block;
    color: var(--clr-grey-3);
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-left: 1.3em;
    font-family: inherit;
    text-transform: uppercase;
    transition: 0.3s background-color;
}

/* .filter-btn.mixitup-control-active {
    color: var(--clr-primary-1);
} */

@media screen and (max-width: 800px) {
    .shop-header{
        display: flex;
        flex-wrap: wrap;
        margin: .5em;
        
    }
}
