/* 
====== 
Cocktail
======
*/

.drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    margin: 1em 0;
}

.drink img {
    border: none;
    border-radius: var(--radius-out);
    width: 50vh;
}

.drink p,
li {
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1;
    color: var(--clr-grey-5);
}

.drink h4 {
    margin-bottom: 0;
}

.drink-data {
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
}

.drink-info {
    box-shadow: var(--boxShadow);
    border: var(--border-white);
    height: 100%;
    padding: .75em;
    margin-top: 0.5em;
}

.cart-items {
    display: flex;
    flex-direction: row;
    gap: 0 .5em;
}

@media screen and (max-width: 800px) {
    .drink {
        display: block;
        align-items: center;
        width: 100%;
        text-align: left;
        margin-top: .5em;
    }

    .drink-info {
        box-shadow: var(--boxShadow);
        border: var(--border-white);
        /* padding-top: 0; */
        padding: .75em;
        margin-top: 0.5em;
    }

    .drink img {
        width: 100%;
        height: auto;
    }
    .cart-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em
        ;

    }
    .product-card{
        width: 45%;
    }
}