.drink {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 1em 0;
}

.drink-figure {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 70vw;
}

.drink-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.drink p,
li {
    font-weight: lighter;
    text-transform: capitalize;
    line-height: 1;
    color: var(--clr-grey-5);
}

.drink h4 {
    margin-bottom: 0;
}

.drink-data {
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
}

.drink-info {
    box-shadow: var(--boxShadow);
    border: var(--border-white);
    height: 100%;
    width: auto;
    padding: .75em;
    margin-top: 0.5em;
}

.cart-items {
    display: inline-flex;
    flex-direction: row;
    gap: 1em;
}

@media screen and (max-width: 800px) {
    .drink {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: left;
        margin-top: .5em;
    }

    .drink-info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        box-shadow: var(--boxShadow);
        border: var(--border-white);
        width: 100%;
        height: auto;
        /* padding-top: 0; */
        padding: .75em;
        margin-top: 0.5em;
    }

    .drink img {
        width: 100%;
        height: auto;
    }

    .cart-items {
        display: inline-flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* gap: 1em; */

    }
}