/* 
====== 
Cocktail
======
*/

.drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
    margin-top: 1.5em;
}

.drink img {
    border: none;
    border-radius: var(--radius-out);
    height: 50vh;
}

.drink p {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.8;
}

.drink-data {
    padding: 0.25rem 0.5rem;
    border-radius: var(--mainBorderRadius);
    color: var(--primaryColor);
}

@media screen and (max-width: 800px) {
    .drink {
        display: block;
        align-items: center;
        width: 100%;
        text-align: left;
        margin-top: .5em;
    }
    
    .drink-info {
        box-shadow: var(--boxShadow);
        border: var(--border-white);
        /* padding-top: 0; */
        padding: .75em;
        margin-top: 0.5em;
    }
    .drink img {
            width: 100%;
            height: auto;
        }
}