.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0.75em;
    min-width: 145px;
    max-width: 20em;
    background-color: var(--clr-white);
    border-radius: var(--radius-out);
    box-shadow: var(--lightShadow);
}

.card-figure {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: transparent;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: var(--radius-mid);
}

.active {
    color: var(--clr-grey-3);
}

.card-info {
    padding: 0.5em;
}

.card-info p {
    margin-bottom: 0.5em;
}

.card-title {
    margin-bottom: 0;
}

.card-button {
    height: 2.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.product-amount {
    display: inline-flex;
    justify-content: flex-end;
}

.product-toggle {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5em;
}

.product-toggle-btn {
    display: flex;
    width: 26px;
    min-width: 26px;
    height: 26px;
    border: transparent;
    background-color: var(--clr-black);
    color: var(--clr-white);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    font-size: 1.5em;
    margin: 0;
}

.product-toggle p {
    display: flex;
    width: 1.5em;
    height: 100%;
    font-size: 1.5em;
    background-color: transparent;
    color: var(--clr-grey-3);
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

@media screen and (max-width: 800px) {
    .card {
        max-width: 15em;
    }

    .card-info {
        padding: .5em;
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-button {
        height: 1.5em;

    }
}