.cocktail {
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    transition: var(--mainTransition);
    border-radius: var(--radius-mid);
    max-width: 20em;
}

.cocktail.horizontal {
    grid-template-rows: 2fr 1fr;
    min-width: 10em;
    border-radius: var(--radius-out);
}

.cocktail-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.cocktail-img img,
.cocktail.horizontal .cocktail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cocktail-footer {
    display: flex;
    flex-direction: column;
}

.cocktail-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0.5em 1em 0;
}

.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
    margin-bottom: 0;
}

.cocktail-footer h3 {
    font-size: 1em;
}

.cocktail-footer p {
    color: var(--clr-grey-5);
}

.cocktail-footer .btn {
    display: flex;
    justify-content: center;
    margin: .5em auto;
    font-size: 1em;
    padding: 0 .5em;
}

@media screen and (max-width: 800px) {
    .cocktail {
        max-width: 15em;
    }

    .cocktail-info {
        padding: .25em 0.5em 0;

    }

    .cocktail-footer h3,
    .cocktail-footer h4,
    .cocktail-footer p {
        margin-bottom: 0;
    }

    .cocktail-footer h3 {
        font-size: 1em;
    }

    .cocktail-footer h4 {
        font-size: .8em;
    }
}