nav {
    display: flex;
    padding: 0 20vw;
    background: var(--clr-grey-10);
    box-shadow: var(--lightShadow);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    height: 3em;
    z-index: 98;
}

.nav-center {
    width: 90vw;
}

.nav-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
}

.nav-toggle {
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75em;
}

a svg {
    fill: var(--clr-grey-3);
    align-items: center;
    justify-content: center;
}

a svg:hover {
    fill: var(--clr-balck);
}

.logo-link svg {
    height: 1.5em;
    width: 1.5em;
    color: var(--clr-grey-3);
}

.logo-link svg:hover {
    color: var(--clr-black);
}

.user {
    background-color: transparent;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.user-avatar {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-radius: 50%;
    border-color: transparent;
    color: var(--clr-grey-10);
    align-items: center;
    justify-content: center;
}

.user-avatar svg {
    cursor: pointer;
    height: 1.5em;
    width: 1.5em;
    color: var(--clr-grey-3);
    transform: translateY(10%);
}

.user-avatar svg:hover {
    fill: var(--clr-balck);
}

.nav-container .cart-icon {
    display: inline-flex;
    height: 1.25em;
    align-items: center;
    justify-content: center;
}

.nav-container .amount-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0.5em;
    right: 0.7em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr-grey-8);
}

.nav-container .total-amount {
    color: var(--clr-grey-2);
    margin-bottom: 0;
    font-size: 1rem;
}


.links-container {
    display: flex;
    height: auto;
    background-color: var(--clr-grey-10);
    align-items: center;
    visibility: visible;
    transition: all .3s ease-in-out;
}

.links {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.links a {
    display: flex;
    position: relative;
    justify-content: center;
    color: var(--clr-grey-3);
    font-size: 1em;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    padding: 0em 1em;
}


.links a:hover {
    color: var(--clr-balck);
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-grey-3);
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--clr-black);
}

.show-container {
    height: auto;
}


.nav-links {
    display: none;
}

.signin-btn {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0 1em;
    }

    .nav-center {
        width: 100%;
    }

    .nav-toggle {
        display: flex;
        font-size: 1.5rem;
        color: var(--clr-primary-5);
        background: transparent;
        border-color: transparent;
        cursor: pointer;
        align-items: center;
    }

    /*=============== nav hamburguer =============== */
    #navMenu>span {
        display: block;
        width: 20px;
        height: 1px;
        border-radius: 9999px;
        background-color: var(--clr-grey-3);
    }

    #navMenu>span:not(:last-child) {
        margin-bottom: 7px;
    }

    #navMenu,
    #navMenu>span {
        transition: all .3s ease-in-out;
    }

    #navMenu.active {
        transition-delay: 0.6s;
    }

    #navMenu.active>span:nth-child(1),
    #navMenu.active>span:nth-child(2) {
        transition-delay: 0.3s;
    }

    #navMenu.active>span:nth-child(1) {
        transform: translateY(4px) rotate(-45deg);
    }

    #navMenu.active>span:nth-child(2) {
        transform: translateY(-4px) rotate(45deg);
    }

    /* ============== */

    .links-container {
        display: inline-flex;
        height: 100%;
        width: 100%;
        transform: translateY(3em);
        align-items: flex-start;
        justify-content: center;
    }

    .links {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: .5em;

    }

    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }

    .links a::before {
        bottom: -5px;
    }

    .social-icons {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .links-container {
        visibility: hidden;
    }
}