.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    margin: 0 auto;
    gap: 2rem;
}

@media screen and (min-width: 576px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}