/* 
====== 
product 
======
*/

.product-card {
    display: grid;
    grid-template-rows: auto 1fr;
    border: var(--border-white);
    /* box-shadow: var(--boxShadow); */
    border-radius: var(--radius-out);
    /* padding: 0 1em; */
}

.product-card:hover {
    border: var(--border-white);
    box-shadow: var(--boxShadow);
}

.product-img {
    display: flex;
    justify-content: center;
    width: 100%;
}
.product-img  img{
    width: 100%;
    height: auto;
    border-radius: var(--radius-out) var(--radius-out) 0 0 ;
}

.product-info {
    padding: 0 .5rem;
}

@media screen and (max-width: 800px) {
    .product {
        display: flex;
        flex-direction: row;
        height: 30.5vh;
        border-radius: var(--radius-out);
    }

    .product-img {
        height: 100%;
        width: auto;
        border-radius: var(--radius-out) 0 0 var(--radius-out);
    }

    .product-info {
        padding: .25rem;
    }

}