.search {
    margin: 1rem 0;
    padding: 0 10vw;
}

.search-form {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    padding: 2em;
    text-transform: capitalize;
}

@media screen and (max-width: 800px) {
    .search-form {
        padding: .5rem 1rem;
    }

    .search-form .form-input {
        border-radius: var(--radius-out);
    }
}