/* 
====== 
Form
======
*/

.search {
    margin-top: 1rem;
    padding-bottom: 0;
}

.search-form {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--maxWidth);
    padding: 2rem 2rem;
    text-transform: capitalize;
    background: var(--mainWhite);
    border: var(--border-white);
    border-radius: var(--radius-out);
    box-shadow: var(--boxShadow);
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    box-shadow: var(--lightInsetShadow);
    width: 100%;
    border-radius: var(--radius-mid);
    font-family: inherit;
    color: var(--clr-grey-3);
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder {
    color: var(--clr-grey-8);
}

.form-input:hover {
    filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
    filter: brightness(100%);
    background: var(--clr-grey-10);
    border: 1px solid var(--clr-grey-10);
}

@media screen and (max-width: 800px) {
    .search-form {
        background: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        padding: .5rem 1rem;
    }

    .form-input {
        border-radius: var(--radius-out);
    }
}