/* 
====== 
Shop Search
======
*/

.search {
    margin-top: 1rem;
    padding-bottom: 0;
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    border: var(--border-white);
    border-radius: var(--radius-mid);
    box-shadow: var(--lightInsetShadow);
    font-family: inherit;
    color: var(--clr-grey-3);
    transition: 0.3s;
}

.form-input::placeholder {
    color: var(--clr-grey-8);
}

.form-input:hover {
    filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
    filter: brightness(100%);
    background: var(--clr-grey-10);
    border: var(--border-white);
}

@media screen and (max-width: 800px) {
    .form-input {
        border-radius: var(--radius-out);
    }
}